:root{
  --black: #111;
  --white:#fff;
  --grey:#bbb;
}

* {
  box-sizing: border-box;
  color: var(--white);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/*Header (name) animation*/
.wave {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}

.wave span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--name))
}

#dash {
  visibility: hidden;
}

@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.header-three {
  font-size: 30px;
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 50px;
}

p {
  font-size: 20px;
  padding: 50px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

em {
  font-size: 18px;
}

.frame{
  width: 300px;
  height: 250px;
  border: 3px solid #ccc;
  background: var(--white);
  padding: 15px 10px;
}

.background {
  background-image: url('./images/6315777312554.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center center;
  background-attachment: fixed;
  background-color: var(--black);
}

.navbar:hover {
  filter: brightness(75%);
  transition: .3s;
}

.h1 {
  display: flex;
  margin: 50px;
  font-size: 30px;
}

#me {
  height: 30vh;
  width: auto;
  margin-right: 30px;
  margin-left:50px;
}

  nav{
  margin-right: 25px;
  font-size: 25px;
  float: right;
}

header div ul li {
    display: inline;
    margin-left: 25px;
}

body{ 
  height: 80vh;
    background-color: var(--black);
}

card{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*Transition for first project*/
  #project {
  box-shadow: inset 0 0 0 0 var(--grey);
  height: 40vh;
  width: 125%;
  display: flex;
 }

.container {
  position: relative;
  width: 40vh;
  margin-left: 50px;
}

.container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 125%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #204060;
}

.image-text {
  color: var(--white);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


/*Here starts footer logo selectors */
.call {
  height: 80px;
  width: auto;
  margin: 20px;
  margin-bottom: 50px;
}
.call:hover {
  filter: brightness(75%);
  transition: 0.3s;
}

.email {
  height: 80px;
  width: auto;
  margin: 20px;
  margin-bottom: 50px;
}
.email:hover {
  filter: brightness(75%);
  transition: 0.3s;
}

.insta {
  height: 80px;
  width: auto;
  margin: 40px;
  margin-bottom: 50px;
}
.insta:hover {
  filter: brightness(75%);
  transition: 0.3s;
}

.gitlogo {
  height: 80px;
  width: auto;
  margin:40px;
  margin-bottom: 50px;
}
.gitlogo:hover {
  filter: brightness(75%);
  transition: 0.3s;
}

.lilogo{
  height:80px;
  width:auto;
  margin: 40px;
  object-fit: fill;
  margin-bottom: 50px;
}

.lilogo:hover {
  filter:brightness(75%);
  transition: 0.3s;
}

hr {
  border-top: 3px solid var(--grey);
  margin-top: 50px;
  margin-bottom: 50px;
}

#contact-me {
  margin: 50px;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
}
/* figure out the breakpoint*/
@media all and (max-width:768px) {
  body {
    display: flex;
    display: inline;
    flex-wrap: wrap;

  }
  }


/*All medias work except for handheld devices, so I'm attacking the breakpoint at this width*/
@media (max-width:470px) {
  header {
    display:flex;
    display:inline;
    flex-wrap:wrap;
  }
  p {
    display: flex;
    display: inline;
  }
  .wave {
    display: flex;
    flex-wrap: wrap;
    font-size: 0px;
  }
  }
  .container {
    margin: 0px;
    padding: 0px;
    width: 38vh;
  }
  #me {
    margin: 8px;
    padding: 7px;
  }
  nav {
    margin: auto;
    padding: auto;
  }


@media (max-width:420px) {
  header {
    display:flex;
    display:inline;
    flex-wrap:wrap;
  }
  p {
    display: flex;
    display: inline;
  }
  .wave {
    display: flex;
    flex-wrap: wrap;
    font-size: 0px;
  }
  .overlay {
    max-width: 50px;
    max-height: 50px;
  }
  .container {
    margin: 0px;
    padding: 0px;
    width: 38vh;
  }
  #me {
    margin: 8px;
    padding: 7px;
  }
  nav {
    margin: auto;
    padding: auto;
  }
  }


@media (max-width:390px) {
  header {
    display:flex;
    display:inline;
    flex-wrap:wrap;
  }
  p {
    display: flex;
    display: inline;
  }
  .wave {
    display: flex;
    flex-wrap: wrap;
    font-size: 0px;
  }
  .container {
    margin: 0px;
    padding: 0px;
    width: 38vh;
  }
  #me {
    margin: 8px;
    padding: 7px;
  }
  nav {
    margin: auto;
    padding: auto;
  }
}

@media (max-width:375px) {
  header {
    display:flex;
    display:inline;
    flex-wrap:wrap;
  }
  p {
    display: flex;
    display: inline;
  }
  .wave {
    display: flex;
    flex-wrap: wrap;
    font-size: 0px;
  }
  .container {
    margin: 0px;
    padding: 0px;
    width: 38vh;
  }
  #me {
    margin: 8px;
    padding: 7px;
  }
  nav {
    margin: auto;
    padding: auto;
  }
}


@media (max-width:360px) {
  header {
    display:flex;
    display:inline;
    flex-wrap:wrap;
  }
  p {
    display: flex;
    display: inline;
  }
  .wave {
    display: flex;
    flex-wrap: wrap;
    font-size: 0px;
  }
  .container {
    margin: 0px;
    padding: 0px;
    width: 38vh;
  }
  #me {
    margin: 8px;
    padding: 7px;
  }
  nav {
    margin: auto;
    padding: auto;
  }

}


@media (max-width:412px) {
  header {
    display:flex;
    display:inline;
    flex-wrap:wrap;
  }
  p {
    display: flex;
    display: inline;
  }
  .wave {
    margin-left: 22vw;
  }
  .container {
    margin: 0px;
    padding: 0px;
    width: 38vh;
  }
  #me {
    margin: 8px;
    padding: 7px;
  }
  nav {
    margin: auto;
    padding: auto;
  }
 
}

@media (max-width:280px) {
  header {
    display:flex;
    display:inline;
    flex-wrap:wrap;
  }
  p {
    display: flex;
    display: inline;
  }
  .wave {
    display: flex;
    display: inline;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    margin-left: 10vw;
  }
  .container {
    margin: 0px;
    padding: 0px;
    width: 38vh;
  }
  #me {
    margin: 8px;
    padding: 7px;
  }
  .section-three {
    margin-left: 59px
  }
}


